@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-title: 'Lora', serif;
    --font-body: 'Lora', serif;
    --interwar-paper: #fee5c5; 
    --interwar-ink: #32302e;   
    --interwar-gold: #c9a66b;  
    --interwar-red: #a83232;   
    --interwar-silver: #b0b0b0;
    --interwar-blue: #3b5998;  
    --interwar-dark-blue: #2a3d66;
    --interwar-dark: #333333;  
    --interwar-light: #e0e0e0; 
    --interwar-green: #4a7c59; 
}

h1 {
    color: var(--interwar-ink);
    opacity: 0.92; 
}

body {
    font-family: var(--font-body);
    background-color: var(--interwar-paper);
    color: var(--interwar-ink);
    -webkit-font-smoothing: antialiased; 
}

a:link{
    color: var(--interwar--blue);
}
a:visited{
    color: var(--interwar-dark-blue);
}
a:active{
    color: var(--interwar-red);
}
a:hover{
    color: var(--interwar-gold);
    font-size: 1.015em;
    
}

.mainSection {
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -80px;
    padding-top: 80px;
}

.mainVideo {
    position: absolute;
    top: 0%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: fit-content;
    transform: translateX(-50%) translateY(-15%);
    object-fit: cover;
    z-index: -2;

    filter: sepia(0.4)
}

.mainTextContainer{
    z-index: 1;
    margin-top: -8vh;
    text-shadow: 0px 0px 10px rgba(254, 229, 197, 0.8),
                 0px 0px 20px rgba(254, 229, 197, 0.5);
    font-weight: bolder;
}

.mainOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--interwar-paper);
    opacity: 0.35; 
    z-index: -1;
}

.fadeBottom {
position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; 
    background: linear-gradient(to bottom, rgba(254, 229, 197, 0) 0%, var(--interwar-paper) 100%);
    z-index: 0;
}

h1, h2, h3, .navbar-brand {
    font-family: var(--font-title);
    font-weight: 700;
    letter-spacing: -0.045em; 
}

.langButton{
    display: inline-block;
    width: 40px;
    height: 25px;
    background-size: cover;
    background-position: center;
    border-radius:6px;
    transition: transform 0.3s, filter 0.3s;
    filter: sepia(0.2) contrast(0.9);
}

.langButton:hover {
    transform: scale(1.2);
    filter: brightness(1.1) sepia(0.2) contrast(1.1);
}

.langButton-ro {
    background-image: url('/images/flags/ro_ro.png');
}

.langButton-en {
    background-image: url('/images/flags/uk_en.png');
}

.lang-active{
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);    
    transition: transform 0.3s, filter 0.3s;
    filter: sepia(0.1), brightness(1)
}
.menuButton {
    display: inline-block;
    width: 52px; 
    height: 52px;
    background-image: url('/images/icons/open_menu.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.4s;
    opacity: 0.9;
    position: relative;
}
.menuButton::after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: -10px;
    left: 50%;

    background-color: var(--interwar-ink);
    color: var(--interwar-paper);
    font-family: var(--font-body);
    font-size: 0.55rem;
    padding: 2px 5px;
    border-radius: 6px;
    white-space: nowrap; 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    transition: all 0.3s ease-in-out;
}

.menuButton:hover {
    transform: scale(1.2);
    filter: brightness(1.15);
    opacity: 1;
    transition: all 0.4s ease-in-out
}

.menuButton:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0) scale(0.9); 
}
.vintageCameraButton {
    display: inline-block;
    width: 60px; 
    height: 80px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.4s ease, filter 0.4s ease;
    filter: sepia(0.5);
    opacity: 0.8; 
    position: relative; 
    transform: translateY(13%);
}

.playingMainVideo {
    background-image: url('/images/icons/film_play.png');
    filter: sepia(0.5) contrast(1.1); 
}

.pausedMainVideo {
    background-image: url('/images/icons/film_pause.png');
    filter: grayscale(0.5) opacity(0.8); 
}

.vintageCameraButton:hover {
    transform: scale(1.2);
    filter: brightness(1.15);
    opacity: 1;
    transition: all 0.4s ease-in-out
}

.vintageCameraButton::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -10px;
    left: 50%;

    background-color: var(--interwar-ink);
    color: var(--interwar-paper);
    font-family: var(--font-body);
    font-size: 0.55rem;
    padding: 2px 5px;
    border-radius: 6px;
    white-space: nowrap; 
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10px);
    transition: all 0.3s ease-in-out;
}

.vintageCameraButton:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.takePage{
    font-family: 'Petemoss';
    opacity: 0.85;
    font-size: 2rem;
}
.seePhoto{
    opacity: 0.85;
    font-size: 2rem;
}

.columnDivider {
    border-right: 1px solid var(--interwar-ink);
}

@media (max-width: 991px) { 
    .columnDivider {
        border-right: none;
        border-bottom: 1px solid var(--interwar-ink); 
        padding-bottom: 2rem; 
    }
}